*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Poppins,sans-serif;
}

html{
  scroll-behavior:smooth;
}

body{
  background:#fffaf5;
  color:#333;
  padding-top:80px;
}

/* NAVBAR */

header{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  background:white;
  box-shadow:0 2px 10px rgba(0,0,0,.1);
  z-index:1000;
}

nav{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 50px;
}

.menu{
  display:flex;
  gap:25px;
}

.menu a{
  text-decoration:none;
  color:#333;
  font-weight:500;
}

.menu a:hover{
  color:#8B4513;
}

/* HERO */

.hero{
  min-height:90vh;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding:20px;
}

.hero h1{
  font-size:3rem;
  color:#6b3e26;
}

.hero p{
  margin:20px 0;
  font-size:18px;
}

button{
  padding:12px 28px;
  border:none;
  border-radius:30px;
  background:#8B4513;
  color:white;
  cursor:pointer;
  transition:.3s;
}

button:hover{
  transform:translateY(-4px);
}

/* PRODUK */

.produk{
  padding:80px 20px;
}

.produk h2{
  text-align:center;
  margin-bottom:30px;
}

.card{
  background:white;
  padding:20px;
  margin:15px auto;
  max-width:400px;
  border-radius:15px;
  box-shadow:0 5px 15px rgba(0,0,0,.1);
  transition:.3s;
}

.card:hover{
  transform:translateY(-10px);
}

/* ABOUT */

.about{
  padding:80px 20px;
  text-align:center;
}

/* STATS */

.stats{
  background:#6b3e26;
  color:white;
  text-align:center;
  padding:70px 20px;
}

.counter{
  font-size:50px;
}

/* FOOTER */

footer{
  background:#3e2315;
  color:white;
  text-align:center;
  padding:40px 20px;
}

/* ANIMASI MUNCUL DARI BAWAH */

.fade-up{
  opacity:0;
  transform:translateY(80px);
  transition:all 1s ease;
}

.fade-up.show{
  opacity:1;
  transform:translateY(0);
                       }    const posisi = element.getBoundingClientRect().top;

    const tinggiLayar = window.innerHeight;

    if(posisi < tinggiLayar - 100){

      element.classList.add("show");

    }

  });

}

window.addEventListener("scroll",reveal);

reveal();
